//=================================
// SPRITES
//=================================

// Individual variables
$logo-40d: -0px -59px 35px 35px;
$logo-small: -54px -0px 40px 43px;
$logo: -0px -0px 54px 59px;

// Mixins
@mixin sprite-width($sprite) {
  width: nth($sprite, 3)
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4)
}

// Functions
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

// Positioning
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}

// Sprite Mixin
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// @extend these to pull in the background image
.sprite-main {
    background-image: url('images/sprites/sprite-main.png');
  }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 72dpi) {
.sprite-main {
    background-image: url('images/sprites/sprite-main@2x.png');
    background-size: 94px 94px;
  }
}

