//=================================
// OBJECTS - WRAPPERS
//=================================

//---------------------------------
// Wrappers
//---------------------------------
.o-wrapper {
  width: 100%;
  margin: 0 auto;
  @include gutter(large);
}

.o-wrapper--standard {
  @extend .o-wrapper;
  max-width: $wrapper;
}

.o-wrapper--small {
  @extend .o-wrapper;
  max-width: $wrapper-small;
}

.o-wrapper--medium {
  @extend .o-wrapper;
  max-width: $wrapper-medium;
}

.o-wrapper--large {
  @extend .o-wrapper;
  max-width: $wrapper-large;
}

//---------------------------------
// Rows & Blocks
//---------------------------------
@mixin row-padding($breakpoint, $large: false) {
  $pad: $gutter;

  @if $large == true {
    $pad: $gutter-large;
  }

  @include mq($breakpoint) {
    margin-left: -$pad;
    margin-right: -$pad;

    .o-block {
      padding-left: $pad;
      padding-right: $pad;
    }
  }
}

.o-row {
  &\@medium {
    @include row-padding(medium);
  }
  &\@large {
    @include row-padding(large);
  }
}

.o-row--xpad {
  &\@medium {
    @include row-padding(medium, true);
  }
  &\@large {
    @include row-padding(large, true);
  }
}

.o-block {
  margin-bottom: 20px;
}

.o-block--half {
  &\@medium {
    @include mq(medium) {
      float: left;
      width: 50%;
    }
  }
}

.o-block--third {
  &\@medium {
    @include mq(medium) {
      float: left;
      width: 33.3333%;
      padding: 0 $gutter;
    }
  }
}

//---------------------------------
// Wrappers
//---------------------------------
.o-ui-list {
  list-style: none;
  padding: 0;
  margin: 0;
}