/* List the order of your media queries */
title {
	font-family: 'mq-tiny, mq-small, mq-medium, mq-large, mq-xlarge, mq-xxlarge';
}

/* Mobile-first media queries */
head {
	font-family: 'mq-tiny';
}
@media (min-width: 480px) {
	head {
		font-family: 'mq-small';
	}
}
@media (min-width: 768px) {
	head {
		font-family: 'mq-medium';
	}
}
@media (min-width: 1024px) {
	head {
		font-family: 'mq-large';
	}
}
@media (min-width: 1200px) {
	head {
		font-family: 'mq-xlarge';
	}
}
@media (min-width: 1600px) {
	head {
		font-family: 'mq-xxlarge';
	}
}

/* Make sure body font doesn't try to use the media query */
body {
	font-family: Helvetica, Arial, sans-serif;
}

/* Responsive images */
img {
	display: block;
	width: 100%;
}
