<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <title>Forty Etas</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css" media="screen" />
</head>

<body class="@@body_class">

  <header class="c-global-header">
    <h1 class="c-logo">SassQwatch</h1>

    <nav class="c-page-nav">
      <label class="c-page-nav__button" for="menu-toggle"></label>
      <input type="c-page-nav__toggle u-visually-hidden js-menu-toggle" id="menu-toggle">
      <ul class="c-page-menu">
        <li class="c-page-menu__item"><a href="/test/min-width.html">Min/Max - Min Width</a></li>
        <li class="c-page-menu__item"><a href="/test/max-width.html">Min/Max - Max Width</a></li>
        <li class="c-page-menu__item"><a href="/test/only.html">Only</a></li>
        <li class="c-page-menu__item"><a href="/test/responsive-images.html">Responsive Images</a></li>
        <li class="c-page-menu__item"><a href="/test/onChange.html">On Change</a></li>
      </ul>
    </nav>
  </header>