* {
	box-sizing: border-box;
}

/* Make sure body font doesn't try to use the media query */
body {
	font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

/* Responsive images */
img {
	display: block;
	width: 100%;
}

/* Menu Toggle */
#menu-toggle {
	visibility: hidden;
}

.menu-toggle-button,
.menu-toggle-button:before,
.menu-toggle-button:after {
	display: block;
	cursor: pointer;
}

.menu-toggle-button {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: content-box;
	background: white;
	z-index: 100;
}

.menu-toggle-button:before,
.menu-toggle-button:after {
	content: "";
	width: 100%;
	height: 5px;
	background: black;
	position: absolute;
}

.menu-toggle-button:before {
	top: 0;
}

.menu-toggle-button:after {
	bottom: 0;
}

/* Nav */
.page-nav {
	position: absolute;
	top: 0;
	right: 0;
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	padding: 30px 20px 20px;
	background: white;
	list-style: none;
	z-index: 50;
	transform: translateX(100%);
	transition: transform 0.3s ease-out;
}

#menu-toggle:checked + .menu {
	transform: translateX(0);
}

.menu li {
	margin-bottom: 5px;
	text-align: right;
}

.menu a {
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.menu a:hover {
	font-size: 16px;
	color: red;
	text-decoration: underline;
}

.page {
	margin-top: 60px;
	text-align: center;
}

.headline,
.subheadline {
	font-weight: 300;
}

.headline {
	margin: 0;
	font-size: 3.375em;
}

.subheadline strong {
	color: red;
}

.output {
	min-height: 280px;
	max-width: 1000px;
	margin: 60px auto 0;
	padding: 40px 40px 60px;
	border: 1px solid black;
}

.output .subheadline {
	min-height: 23px;
}

#breakpoint-scale {
	padding-top: 40px;
	font-size: 0;
}

.scale__point {
	display: inline-block;
	position: relative;
	width: 16.6667%;
	height: 20px;
	padding-top: 10px;
	border-left: 1px solid black;
	vertical-align: top;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.scale__point:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	border-bottom: 1px solid black;
	background: white;
}

.scale__point.is-affected:before {
	background: red;
}

.scale__point.is-active {
	height: 30px;
	border-left: 1px solid red;
}

.scale__point.is-active .scale__label {
	color: red;
	font-weight: bold;
}

.scale__label {
	position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
	font-size: 14px;
}