/* List the order of your media queries */
title {
  font-family: 'mq-tiny, mq-small, mq-medium, mq-large, mq-xlarge, mq-xxlarge';
}

/* Max-width media queries */
head {
  font-family: 'mq-xxlarge';
}
@media (max-width: 1400px) {
  head {
    font-family: 'mq-xlarge';
  }
}
@media (max-width: 1200px) {
  head {
    font-family: 'mq-large';
  }
}
@media (max-width: 1024px) {
  head {
    font-family: 'mq-medium';
  }
}
@media (max-width: 768px) {
  head {
    font-family: 'mq-small';
  }
}
@media (max-width: 480px) {
  head {
    font-family: 'mq-tiny';
  }
}